# Copy this file to .env.local and fill in your values from SAM deploy outputs

VITE_AWS_REGION=<your aws reg>
VITE_USER_POOL_ID=< cognito user pool id>
VITE_USER_POOL_CLIENT_ID= <cognito clinet id>
VITE_API_BASE_URL= <back end api domain>
VITE_QUERY_STREAM_URL=<stream lambda endpoint>
VITE_QUERY_STREAM_RERANKED_URL=<reranker lambda stream endpoint>
